<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19tracker">

    <application
	android:allowBackup="true"
	android:icon="@mipmap/ic_launcher"
	android:label="@string/app_name"
	android:roundIcon="@mipmap/ic_launcher_round"
	android:supportsRtl="true"
	android:theme="@style/Theme.Covid19Tracker">
	<activity android:name=".SplashActivity"
	    android:screenOrientation="portrait"
	    android:theme="@style/Theme.AppCompat">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />

		<category android:name="android.intent.category.LAUNCHER" />
	    </intent-filter>
	</activity>
	<activity android:name=".AboutActivity" />
	<activity
	    android:name=".EachCountryDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".CountryWiseDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".EachDistrictDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".DistrictWiseDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".EachStateDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".StateWiseDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".WorldDataActivity"
	    android:screenOrientation="portrait" />
	<activity
	    android:name=".MainActivity"
	    android:screenOrientation="portrait"/>
    </application>

</manifest>